{% extends "!layout.html" %}

  {% block menu %}
    {{ super() }}
    <p class="caption"><span class="caption-text">Indices and Tables</span></p>
    <a href="genindex.html">Index</a>

    <a href="mat-modindex.html">Module Index</a>
  {% endblock %}
