/* %%%%%%%%%%%%%%%%%%%%%%%%%% Hauptteil der Webseite %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Layout Hauptteil der Webseite */
.wy-nav-content {
  max-width: 1000px;
  background: #fcfcfc;
  color: #404040;
}

/* Anzeige oben in Leiste, in welchem Kapitel man ist */ 
.rst-content .wy-breadcrumbs li {
  color: #a9a9a9
}

/* Hintergrund rechts vom Text */
.wy-nav-content-wrap {
  background-color: #f0f0f0; 
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%% Kapitelueberschrift %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */ 
.rst-content h1{
  color: white;
  font-size: 34pt;
  background-color: #153268;
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 52px;
  padding-right: 52px;
  margin-top: -110px ;
  margin-left: -52px ;
  margin-right: -52px ;
  font-family:"Lato";
  border-bottom: 15px solid #ffa733;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%% Navigation %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Navigation der Webseite */
.wy-nav-side {
  background: #474747; 
  color: white; 
}

/* Farbe der Ueberschriften in Navigation der Webseite */
.wy-nav-side p.caption {
  color:#ffa733
}

/* Titel und Suche in der Navigation der Webseite */
.wy-side-nav-search, .wy-nav-top {
  background: #153268; 
}

/* Farbe von Links wenn man mit Maus drueber geht in Navigation */
.wy-menu-vertical a:hover {
  background-color:#4e4a4a;
  color: white
}


/* Farbe wenn Funktion angeklickt wird in Navigation */
.wy-menu-vertical a:active {
  background-color:#ffa733;
  color:white
}

/* Farbe von ausgewaehlter Funktion in Navigation */
.wy-menu-vertical li.current>a {
  color: #404040;
  background: #fcfcfc
}

/* Farbe von Funktion im ersten Sub-Level der Navigation*/
.wy-menu-vertical li.toctree-l2 a {
  color: #404040;
  background: #f1f1f1
}

/* Farbe wenn Funktion im ersten Sub-Level angeklickt wird in der Navigation*/
.wy-menu-vertical li.toctree-l2 a:active {
  background-color:#ffa733;
  color:white
}

/* Farbe von ausgewaehlter Funktion im ersten Sub-Level in der Navigation*/
.wy-menu-vertical li.toctree-l2.current>a {
  color: #404040;
  background: #c9c9c9
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%% Funktionsbeschreibung %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Funktionsueberschrift */
.rst-content dl:not(.docutils) dt{
  background: #fff3e4;
  color: #ffa733;  /* Farbe der Argumente der Funktion */
  border-top: solid 3px #ffa733;
}

/* Anzeige wie Funktion verwendet wird */
.rst-content code.literal {
  color: firebrick;
  background-color: white;
  border: 1px solid #fbebeb; 
}

/* Textfeld fuer Parameters, Returns, etc. */  
.rst-content table.field-list th {
  background-color: transparent;
}

/* Textfeld fuer Eintraege von Parameters, Returns, etc. */  
.rst-content table.field-list td {
  background-color: transparent;
}

/* Erscheinung von Eintraegen die durch Zeilenumbruch getrennt sind */  
.rst-content dl:not(.docutils) dl dt {
	margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border: none;
        border-left-color: currentcolor;
        border-left-style: none;
        border-left-width: medium;
    border-left: none;
    background: #fcfcfc;
    color: #404040;
}

.rst-content dl {
    margin-bottom: -10px;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%% Links %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Farbe von Links in Hauptteil der Webseite */
.wy-nav-content a:link {
  color: #93b1e9;
}

/* angeklickte Links in Hauptteil der Webseite */
.wy-nav-content a:visited {
  color: #a9a9a9; 
}

/* Farbe von Links wenn man mit Maus drueber geht oben in der Navigation ('HoloTomoToolbox') */
.wy-side-nav-search a:hover {
  background-color: transparent;
  color: white;
}

/* Farbe von Links oben in der Navigation ('HoloTomoToolbox') */
.wy-side-nav-search a:link {
  color: white;
  font-size: 120%;
}

/* angeklickte Links oben in der Navigation ('HoloTomoToolbox') */
.wy-side-nav-search a:visited {
  color: white;
}
  
/* %%%%%%%%%%%%%%%%%%%%%%%%%% Referenzen %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.rst-content table.docutils.footnote {
  background: none;
  border: none;
  color: gray;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%% See also %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* "See also" Textfeld*/
.rst-content .seealso {
  background-color: #f1f1f1; 
}
  
/* "See also" Balken*/
.rst-content .seealso .admonition-title {
  background-color: #ffa733;
  color: #fcfcfc;
}
  
/* "See also" Funktion*/
.rst-content .seealso code.literal {
  color: #404040; /* Farbe des Funktionsnamens */
  background-color: #f1f1f1;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%% Matlab Beispiel %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Matlab Beispiel Box*/
pre {
  background-color: #f1f1f1;
  color: #404040;
}

/* Matlab Beispiel Code*/
/* integers */
.highlight .mi { 
  color: #404040
}
/* floats */
.highlight .mf {
  color: #404040
} 
/* strings */
.highlight .s {
  color: #cc33ff
}
/* Kommentare */
.highlight .c {
  color: #007020; 
  font-style: italic;
}
/* Funktionen */
.highlight .nb {
  color: #404040
}
/* for, end */
.highlight .k {
  color: #003ae6;
  font-weight: bold;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%% Logo %%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.wy-side-nav-search > a img.logo, .wy-side-nav-search .wy-dropdown > a img.logo {
    max-width: 60%;
    background: transparent;
}

